/* ShoppingList.css */

/* Light mode styles */
.shopping-list-container {
    position: fixed;
    top: 70px; /* Adjust based on your navbar height */
    right: 5px;
    width: 100%; /* Make the container responsive */
    max-width: 300px; /* Set a maximum width */
    padding: 20px;
    border: 2px solid #8B0000;
    border-radius: 4px;
    background-color: #f9f9f9;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    height: calc(70vh - 130px); /* Adjust based on your navbar height */
}

.shopping-list-items {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px; /* Space for the total */
}

.shopping-list-container h2 {
    margin-bottom: 20px;
}

.shopping-list-container ul {
    list-style-type: none;
    padding: 0;
}

.shopping-list-container li {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.shopping-list-container li:last-child {
    border-bottom: none;
}

.shopping-list-total {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    background-color: #ffffff00;
}

.remove-button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}

.remove-button:hover {
    background-color: darkred;
}

@media (max-width: 600px) {
    .shopping-list-container {
        width: 90%; /* Adjust width for smaller screens */
        right: 5%;
    }
}

/* Dark mode styles */
body.dark-mode .shopping-list-container {
    background-color: #333;
    color: white;
    border: 2px solid #555;
}

body.dark-mode .shopping-list-container h2,
body.dark-mode .shopping-list-container li,
body.dark-mode .shopping-list-total {
    color: white;
}

body.dark-mode .shopping-list-container li {
    border-bottom: 1px solid #555;
}

body.dark-mode .shopping-list-total {
    border-top: 1px solid #555;
}