/* UserDashboard.css */

/* Light mode styles */
.dashboard-container {
    text-align: center;
    margin-top: 60px;
}

.dashboard-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fefefe;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.user-info {
    margin-bottom: 20px;
}

.item-list {
    list-style-type: none;
    padding: 0;
}

.item {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.edit-button, .delete-button {
    margin-right: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
}

.edit-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.delete-button {
    background-color: #f44336; /* Red */
    color: white;
}

.edit-button:hover {
    background-color: #45a049; /* Darker green */
}

.delete-button:hover {
    background-color: #e53935; /* Darker red */
}

.item-image {
    max-width: 200px; /* Limit the width */
    max-height: 150px; /* Limit the height */
    object-fit: cover; /* Maintain aspect ratio */
    margin-top: 10px; /* Add some space above the image */
}

.description {
    font-size: 16px;
    margin: 10px 0;
}

.price-quantity {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Dark mode styles */
body.dark-mode .dashboard-container {
    background-color: black;
    color: white;
}

body.dark-mode .dashboard-content {
    background-color: #333;
    color: white;
}

body.dark-mode .dashboard-content h2,
body.dark-mode .user-info h3,
body.dark-mode .dashboard-content h3 {
    color: white;
}

body.dark-mode .item {
    background-color: #444;
    color: white;
}

body.dark-mode .edit-button {
    background-color: #4CAF50;
    color: white;
}

body.dark-mode .delete-button {
    background-color: #f44336;
    color: white;
}

body.dark-mode .item-image {
    border: 1px solid #555; /* Add border to image */
}

body.dark-mode .description {
    color: white;
}

body.dark-mode .price-quantity p {
    color: #ccc;
}